.App {
  text-align: center;
}

button{
  font-size: 15px;
  padding: 10px;
  color: azure;
  background-color: coral;
  cursor:pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
